body {
    background-color: rgb(70, 70, 70);
    color: white;
    margin: 50px 50px;
    font-family: sans-serif;
}
.highlight { 
    background-color: rgb(255, 187, 0);
    stroke: black;
    stroke-width: .05em; 
}
.highlight2 {
    background-color: rgb(0, 171, 171);
}
.highlight3 {
    background-color: rgb(0, 164, 30);
}
